.title {
  margin-top: 50px;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 20px;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
}

.closeButton {
  background: none;
  border: none;
  color: white;
  font-size: 25px;
  font-weight: 900;
  cursor: pointer;
}

.closeButton:hover {
  color: rgb(149, 149, 149);
  cursor: pointer;
}

.filterFrame {
  border: 2px solid white;
  border-radius: 20px;
  padding: 45px;
  left: 50%;
  width: 800px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.filterContainer {
  padding: 30px;
  border-radius: 15px;
  border: 1px solid white;
  margin-bottom: 15px;
  transition: opacity 0.5s ease, visibility 0s 0.5s;
}

.filterContainer label {
  color: white;
  margin-bottom: 4px;
  font-size: 13px;
}

.filterContainer label.active {
  display: block;
}

.filterGrid {
  margin-top: 15px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.filterTitle {
  color: white;
  font-size: 20px;
  margin-right: 20px;
  font-weight: 700;
}

.filterDescription {
  color: darkgrey;
  font-size: 15px;
  font-weight: 500;
  margin-top: 10px;
  margin-right: 20px;
  white-space: pre-line;
}

#filter_mechs .spectraRequirementsContainer {
  display: block;
  margin-bottom: 12px;
}
